*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.container{
    display: flex;
    flex-direction: column;
    
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.navbar{
    display:flex;
    flex-direction: column;
    background-color: black;
    position:static;
    width: 100%;
    position: fixed;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: wheat;
}

.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f0;
    
}

.filter{
    background-color: rgb(41 175 239);
    min-height: 30px;
    width: 100%;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    border-radius: 15px;
    color: #000;
    
}
.filter input[type = "checkbox"]{
    margin : 5px
}
.card_box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; /* isse changes aa sakti hai*/
    margin-top: 20px;
    max-height: 1200px;
    max-width: 80%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: 225px;
    padding:  5px;
    box-shadow: 0px 0px 2px black;
    background-color: white;
    border-radius: 4px;
    
}
.card img{
    height: 200px;
    width : 160px
}
.basic{
    display: flex;
    justify-content: space-around;
}
.basic .sub{
    background-color: rgb(244, 225, 225);
    padding: 2px 5px;
    color: rgb(34, 201, 190);
    border-radius: 6px;
    margin-left: 45PX;
}



@media screen and (max-width: 768px){
    .navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .content{
        margin-top: 85px;
    }
}

@media screen and (min-width: 1000px){
   .card{ margin : 10px 55px;
   }
}




